{% extends 'base.html' %}
{% load bootstrap4 i18n %}

{% block title %}- Sign Up {% endblock %}


{% block content %}

<div class="title text-center">
  <h1 class="uppercase">Sign up</h1>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-6">
    <form class="sign-up" method="POST" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
</form>
  </div>
</div>

{% endblock %}
